// PrimeNG theme is configured via providePrimeNG in app.config.ts
// Only need to import primeicons
@import 'primeicons/primeicons.css';
@import '../../_shared-example-styles';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: var(--font-family);
  overflow: auto !important;
}
