@use '@ng-doc/app/styles/global';
@use '@ng-doc/app/styles/themes/dark.css';

// ============================================
// MATERIAL THEME
// ============================================
// Material Design theme (required for Material integration examples)
@import '@angular/material/prebuilt-themes/indigo-pink.css';
