.ng-doc-header-controls {
  display: flex;
  flex-shrink: 0;

  a[ng-doc-button-icon],
  button[ng-doc-button-icon],
  ng-doc-theme-toggle {
    margin-left: calc(var(--ng-doc-base-gutter) * 2);
  }

  // Reduce spacing on narrow screens to prevent overflow
  @media (max-width: 480px) {
    a[ng-doc-button-icon],
    button[ng-doc-button-icon],
    ng-doc-theme-toggle {
      margin-left: calc(var(--ng-doc-base-gutter) * 1);
    }
  }
}
